.page-1 {
  background-color: #592B53;
  color: white;
  font-family: 'Roboto', $default;
}

.page-2 {
  background-color: #8783D1;
  color: $black;
  border-color: $black;
  font-family: 'Abril Fatface', $default;
}